[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.ty.environment]
python-version = "3.13"

[tool.ruff]
target-version = "py313"

lint.select = ["ALL"]

lint.ignore = [
    "ANN201",   # Missing return type annotation for public function
    "ANN401",   # Dynamically typed expressions (typing.Any) are disallowed
    "COM812",   # Trailing comma missing
    "D203",     # 1 blank line required before class docstring
    "D213",     # Multi-line docstring summary should start at the second line
    "EM101",    # Exception must not use a string literal, assign to variable first
    "EM102",    # Exception must not use an f-string literal, assign to variable first
    "FBT001",   # Boolean positional arg in function definition
    "PLR0915",  # Too many statements
    "TC001",    # Move application import into a type-checking block
    "TC002",    # Move third-party import into a type-checking block
    "TC003",    # Move standard library import into a type-checking block
    "TRY003",   # Avoid specifying long messages outside the exception class
]

[tool.ruff.lint.per-file-ignores]
"tests/*" = [
    "ARG001",    # Unused function argument
    "S101",      # Use of `assert` detected
    "SLF001",    # Private member accessed
]

[tool.ruff.lint.mccabe]
max-complexity = 25

[tool.tox]
legacy_tox_ini = """

[tox]
envlist = py313, lint, typing, coverage
skip_missing_interpreters = True

[gh-actions]
python =
  3.13: py313, lint, typing, coverage

[testenv]
commands =
  pytest --timeout=30 --cov=custom_components/meteo_imgw_pib --cov-report=term-missing --cov-report=xml {posargs} --error-for-skips
install_command =
  uv pip install --prerelease=allow {opts} {packages}
deps =
  -rrequirements-test.txt

[testenv:lint]
basepython = python3
depends = py313
ignore_errors = True
usedevelop = False
skip_install = True
commands =
  ruff check .
  ruff format --check .

[testenv:typing]
basepython = python3
depends = py313
ignore_errors = True
usedevelop = False
skip_install = True
commands =
  ty check custom_components/meteo_imgw_pib

[testenv:coverage]
basepython = python3
depends = py313
usedevelop = False
skip_install = True
commands =
  coverage report --fail-under=79
"""
